<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Sample Angular Material Application</span>
      <a href="/create">Create</a>
      <a href="/update">Update</a>
      <a href="/delete">Delete</a>
      <a href="/view">Users</a>
    </mat-toolbar>

    <!-- Add Content Here -->
    <div>
       <!-- Call the Angular Routing page -->
      <router-outlet> </router-outlet>
    </div>
  
  </mat-sidenav-content>
</mat-sidenav-container>
